/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal PRIDE tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    with PRIDE/ProteomeXchange identifiers.

    Use as follows:
        nextflow run nf-core/fetchngs -profile test_pride,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'PRIDE test profile'
    config_profile_description = 'Minimal PRIDE test dataset to check pipeline function'

    // Input data
    input                      = "${projectDir}/tests/pride_ids_test.csv"

    // PRIDE-specific settings
    pride_file_types            = null
    pride_download_categories   = 'RAW'
    pride_skip_file_download    = false
    pride_use_existing_sdrf     = true
}
