process {
    withName: 'PRIDE_METADATA' {
        publishDir = [
            [
                path: { "${params.outdir}/metadata" },
                mode: params.publish_dir_mode,
                pattern: "*.metadata.json"
            ],
            [
                path: { "${params.outdir}/metadata" },
                mode: params.publish_dir_mode,
                pattern: "*.files.tsv"
            ],
            [
                path: { "${params.outdir}/metadata" },
                enabled: false,
                pattern: "*.metadata.tsv"
            ]
        ]
    }
}
