process {
    withName: 'ASPERA_CLI' {
        env = [
            ASPERA_KEY_PATH: '/mnt/d/AI_CELL/method/dataset/asperaweb_id_dsa.openssh'
        ]
        ext.args = '-l 1000m -T -P 33001 -k1'
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/fastq/md5" },
                mode: params.publish_dir_mode,
                pattern: "*.md5"
            ]
        ]
    }
}
